.well-known/
application/logs/
assets_old/
chemist/
images/
img_v31/
img_v36/
img_v41/
img_v50/
json_api/
json_order_download/
medicine_images/
medicine_json/
newcss/
temp_files/
temp_new_account/
upload_drd_master/
uploads/
uploads_sales/
user_newsession/
user_profile/
corporate_report/
email_files/
uploads_sales/
upload_drd_master/
vendor/