.well-known/
application/logs/
medicine_images/
medicine_json/
newcss/
temp_files/
temp_new_account/
upload_drd_master/
uploads/
uploads_sales/
user_newsession/
user_profile/
corporate_report/
email_files/
uploads_sales/
upload_drd_master/
vendor/